html[data-theme=dark] {
  background: #2C2F37;
}

body {
  display: flex;
  overflow: hidden;
  height: 100%;
  width: 100%;
  color: white;
}

body .container {
  margin: 50px;
  display: grid;
  grid-template-columns: 300px 1fr 1fr;
  grid-auto-rows: auto;
  gap: 50px;
  width: 100%;
}

body .controls {
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

body .expand {
  flex-grow: 1;
}

body .connection-status {
  padding: 15px 0;
  font-size: 1.2em;
  display: flex;
  gap: 10px;
  align-items: center;
}

body .connection-status .icon {
  background: var(--blue-5);
  border-radius: 100%;
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

body .connection-status .icon[color=green] {
  background: var(--green-5);
}

body .connection-status .icon[color=red] {
  background: var(--red-5);
}

body .estop {
  background: rgba(0, 0, 0, .15);
  font-size: 2.5em;
  padding: 20px;
  text-align: center;
  font-weight: bold;
}

body .estop:hover {
  background: rgba(0, 0, 0, .25);
  cursor: pointer;
}

body button[name=motion] {
  width: 100%;
  padding: 15px;
  border: 0;
  border-radius: 0;
  color: white;
  font-size: 2.5em;
  font-weight: bold;
}

body button[name=motion][action=start] {
  background: var(--blue-5);
}

body button[name=motion][action=start]:hover {
  background: var(--blue-4);
}

body button[name=motion][action=stop] {
  background: var(--red-5);
}

body button[name=motion][action=stop]:hover {
  background: var(--red-4);
}

input[type=text],
input[type=password],
input[type=number] {
  background: rgba(0, 0, 0, .2);
  border: 1px solid rgba(255, 255, 255, .1);
  padding: 15px;
  font-size: 1.2em;
  width: 100%;
  color: white;
  outline: none;
  position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input-container {
  position: relative;
}

.input-container[units]:after {
  content: attr(units);
  position: absolute;
  top: 1;
  bottom: 1;
  right: 1;
  display: grid;
  align-items: center;
  opacity: .5;
  padding: 0 20px;
  background: rgba(0, 0, 0, .2);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, .1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, .2);
  border-radius: 999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--blue-5);
}
